## Task 01:

Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [2]:
print("Name: Syed Muhammad Shoaib Naqvi","Father Name: Syed Muhammad Ather Naqvi","Date of birth: 31-01-1999",sep="\n")

Name: Syed Muhammad Shoaib Naqvi
Father Name: Syed Muhammad Ather Naqvi
Date of birth: 31-01-1999

# Task 02:

Write your small bio using variables and print it using print function

In [18]:
Name="Syed Muhammad Shoaib Naqvi"
Age=25
Qualified="BCOM"
Current_Qualification="Undergraduate (BSCS 5th Semester)"
University="PAF KIET"
Course="SMIT and Datacamp"
print("Name: ",Name,"\nAge: ",Age,"\nQualified: ",Qualified,"\nCurrent qualification: ",Current_Qualification,"\nCourse: ",Course)

Name:  Syed Muhammad Shoaib Naqvi
Age:  25
Qualified:  BCOM
Current qualification:  Undergraduate (BSCS 5th Semester)
Course:  SMIT and Datacamp

# Task 03:

Write a program in which use all the operators we can use in Python

In [25]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
print(num1+num2,num1-num2,num1*num2,num1/num2,num1%num2,num1**num2,num1//num2,sep="\n")

Enter first number:2
Enter second number:2
4
0
4
1.0
0
4
1

# Task 04:


1. Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables

2. Mention Variable of Total Marks and assign 300 to it

3. Calculate Percentage

In [34]:
English=98
Islamiat=95
Maths=99
Total=(English+Islamiat+Maths)
Percentage=(Total/300)*100
print("Percentage= ",Percentage,end="%")

Percentage=  97.33333333333334%