**Looping Structures**

1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [3]:
i=20
while i>0:
  print(i)
  i=i-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [4]:
for i in range(1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the
numbers from 1 to n.

In [6]:
n=int(input("Enter any number:"))
for i in range(1,n+1):
  print(i)

Enter any number:6
1
2
3
4
5
6

5. Write a program that prompts the user to enter a number n, and then prints all the
odd numbers between 1 and n.

In [7]:
n=int(input("Enter any number:"))
for i in range(1,n+1):
  if i%2!=0:
    print(i)

Enter any number:10
1
3
5
7
9

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [8]:
for i in range(5):
  print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

7. Write a program that takes a number n as input from the user and generates the first
n terms of the series formed by squaring the natural numbers.
Sample output
Enter a number: 6
The first 6 terms of the series are:
1 4 9 16 25 36

In [11]:
n=int(input("Enter any number:"))
for i in range(1, n + 1):
  print(i * i,end=" ")

Enter any number:5
1 4 9 16 25

8. Write a program that prompts the user to input a number and prints its multiplication
table.

In [13]:
num=int(input("Enter any number:"))
ending=int(input("Enter the ending number:"))
for i in range(1,ending+1):
  print(num,"x",i,"=",num*i)

Enter any number:2
Enter the ending number:10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

9. Write a Python program to print the first 8 terms of an arithmetic progression starting
with 3 and having a common difference of 4.
The program should output the following sequence:
3 7 11 15 19 23 27 31

In [16]:
for i in range(3,32,4):
  print(i,end=" ")

3 7 11 15 19 23 27 31

10. Write a Python program to print the first 6 terms of a geometric sequence starting
with 2 and having a common ratio of 3.
The program should output the following sequence:
2 6 18 54 162 486

In [19]:
for i in range(6):
    number_seq = 2 * (3 ** i)
    print(number_seq, end=" ")

2 6 18 54 162 486

11. Write a program that asks the user for a positive integer value. The program should
calculate the sum of all the integers from 1 up to the number entered. For example, if
the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [21]:
n=int(input("Enter any number:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter any number:10
55

12. write a program that takes a positive integer N as input and calculates the sum of
the reciprocals of all numbers from 1 up to N. The program should display the final sum.

Output of the program should be like:
Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28

In [22]:
n=int(input("Enter any number:"))
sum=0
for i in range(1,n+1):
  sum=sum+(1/i)
print(sum)

Enter any number:5
2.283333333333333

13. Write a program that prompts the user to enter a number and repeats this process 5
times. The program should accumulate the numbers entered and then display the final
running total.
Sample Output:
Enter a number: 10
Enter a number: 15
Enter a number: 35
Enter a number: 40
Enter a number: 50
The final running total is: 150

In [30]:
t_sum=0
for i in range(5):
  e=int(input("Enter any number:"))
  t_sum = t_sum + e
print(t_sum)

Enter any number:1
Enter any number:2
Enter any number:3
Enter any number:4
Enter any number:5
15

14. Write a program that prompts the user to enter a positive integer and calculates its
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.
The program should display the factorial value if the input is a positive number, or
display a message stating that the factorial does not exist for negative numbers.
Additionally, for an input of zero, the program should output that the factorial of 0 is 1.

In [38]:
n=int(input("Enter any number:"))
f=1
if n<0:
  print("Factorial does not exist for negative numbers")
elif n==0:
  print("Factorial of 0 is 1")
else:
  for i in range(1,n+1):
    f=f*i
  print(f)

Enter any number:5
120

15. Write a Python program that prompts the user to enter a base number and an
exponent, and then calculates the power of the base to the exponent. The program
should not use the exponentiation operator (**) or the math.pow() function. The
program should handle both positive and negative exponents.

In [50]:
num=int(input("Enter any base number:"))
exp=int(input("Enter exponent:"))
p=1
if exp==0:
  p = 1
elif exp>0:
  for i in range(1,exp+1):
    p *= num
else:
  for i in range(1,abs(exp)+1):
    p /= num
print(p)

Enter any base number:3
Enter exponent:3
27